<a href="https://colab.research.google.com/github/felicitymueni/Felicity-musau-Independent-project/blob/main/felicity_Musau_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IMPORTING LIBRARIES

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

!pip install matplotlib-venn
!apt-get -qq install -y libfluidsynth1
from matplotlib import pyplot as plt
%matplotlib inline

DATA EXECUTION AND CLEANING

In [8]:
df=pd.read_csv("/content/data.csv")# Setting up variable for data frame(df);
# referencing panda library; to read the imported csv file.
df

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

In [9]:
df.tail()# Returns the last five rows of the dataset.

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

In [10]:
df.reset_index()# Returns the dataset in to its normal form.

,index,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

In [12]:
len(df)# Returns the length of the dataset.

11914

In [13]:
df.head()# Returns the first five rows of the dataset.

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [14]:
df.Make# Returns the dimensions of the dataset in ordered pair (row,column)

0            BMW
1            BMW
2            BMW
3            BMW
4            BMW
          ...
11909      Acura
11910      Acura
11911      Acura
11912      Acura
11913    Lincoln
Name: Make, Length: 11914, dtype: object

In [15]:
df.isnull()# Returns the dimensions of the dataset with null values
df.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [16]:
df.nunique()# Returns the unique number  of the dataset as per the variables

Make                   48
Model                 915
Year                   28
Engine Fuel Type       10
Engine HP             356
Engine Cylinders        9
Transmission Type       5
Driven_Wheels           4
Number of Doors         3
Market Category        71
Vehicle Size            3
Vehicle Style          16
highway MPG            59
city mpg               69
Popularity             48
MSRP                 6049
dtype: int64

In [17]:
df.shape# Returns the dimensions of the dataset in rows and columns.

(11914, 16)

In [56]:
df.columns=df.columns.str.lower().str.replace('','_')

In [58]:
df.head() # The dataset column header using underscore

,_m_a_k_e_,_m_o_d_e_l_,_y_e_a_r_,_e_n_g_i_n_e_ _f_u_e_l_ _t_y_p_e_,_e_n_g_i_n_e_ _h_p_,_e_n_g_i_n_e_ _c_y_l_i_n_d_e_r_s_,_t_r_a_n_s_m_i_s_s_i_o_n_ _t_y_p_e_,_d_r_i_v_e_n___w_h_e_e_l_s_,_n_u_m_b_e_r_ _o_f_ _d_o_o_r_s_,_m_a_r_k_e_t_ _c_a_t_e_g_o_r_y_,_v_e_h_i_c_l_e_ _s_i_z_e_,_v_e_h_i_c_l_e_ _s_t_y_l_e_,_h_i_g_h_w_a_y_ _m_p_g_,_c_i_t_y_ _m_p_g_,_p_o_p_u_l_a_r_i_t_y_,_m_s_r_p_
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [60]:
df.dtypes # gives the types of data types in the data set.

_m_a_k_e_                               object
_m_o_d_e_l_                             object
_y_e_a_r_                                int64
_e_n_g_i_n_e_ _f_u_e_l_ _t_y_p_e_       object
_e_n_g_i_n_e_ _h_p_                    float64
_e_n_g_i_n_e_ _c_y_l_i_n_d_e_r_s_      float64
_t_r_a_n_s_m_i_s_s_i_o_n_ _t_y_p_e_     object
_d_r_i_v_e_n___w_h_e_e_l_s_             object
_n_u_m_b_e_r_ _o_f_ _d_o_o_r_s_        float64
_m_a_r_k_e_t_ _c_a_t_e_g_o_r_y_         object
_v_e_h_i_c_l_e_ _s_i_z_e_               object
_v_e_h_i_c_l_e_ _s_t_y_l_e_             object
_h_i_g_h_w_a_y_ _m_p_g_                  int64
_c_i_t_y_ _m_p_g_                        int64
_p_o_p_u_l_a_r_i_t_y_                    int64
_m_s_r_p_                                int64
dtype: object

In [61]:
df.dtypes[df.dtypes=='object'].index

Index(['_m_a_k_e_', '_m_o_d_e_l_', '_e_n_g_i_n_e_ _f_u_e_l_ _t_y_p_e_',
       '_t_r_a_n_s_m_i_s_s_i_o_n_ _t_y_p_e_', '_d_r_i_v_e_n___w_h_e_e_l_s_',
       '_m_a_r_k_e_t_ _c_a_t_e_g_o_r_y_', '_v_e_h_i_c_l_e_ _s_i_z_e_',
       '_v_e_h_i_c_l_e_ _s_t_y_l_e_'],
      dtype='object')

In [62]:
df.dtypes[df.dtypes=='object'].reset_index

<bound method Series.reset_index of _m_a_k_e_                              object
_m_o_d_e_l_                            object
_e_n_g_i_n_e_ _f_u_e_l_ _t_y_p_e_      object
_t_r_a_n_s_m_i_s_s_i_o_n_ _t_y_p_e_    object
_d_r_i_v_e_n___w_h_e_e_l_s_            object
_m_a_r_k_e_t_ _c_a_t_e_g_o_r_y_        object
_v_e_h_i_c_l_e_ _s_i_z_e_              object
_v_e_h_i_c_l_e_ _s_t_y_l_e_            object
dtype: object>

In [63]:
strings=list(df.dtypes[df.dtypes=='object'].index)
strings

['_m_a_k_e_',
 '_m_o_d_e_l_',
 '_e_n_g_i_n_e_ _f_u_e_l_ _t_y_p_e_',
 '_t_r_a_n_s_m_i_s_s_i_o_n_ _t_y_p_e_',
 '_d_r_i_v_e_n___w_h_e_e_l_s_',
 '_m_a_r_k_e_t_ _c_a_t_e_g_o_r_y_',
 '_v_e_h_i_c_l_e_ _s_i_z_e_',
 '_v_e_h_i_c_l_e_ _s_t_y_l_e_']

In [65]:
for col in strings:
  df[col]=df[col].str.lower().str.replace('','_')

In [66]:
df.head()

,_m_a_k_e_,_m_o_d_e_l_,_y_e_a_r_,_e_n_g_i_n_e_ _f_u_e_l_ _t_y_p_e_,_e_n_g_i_n_e_ _h_p_,_e_n_g_i_n_e_ _c_y_l_i_n_d_e_r_s_,_t_r_a_n_s_m_i_s_s_i_o_n_ _t_y_p_e_,_d_r_i_v_e_n___w_h_e_e_l_s_,_n_u_m_b_e_r_ _o_f_ _d_o_o_r_s_,_m_a_r_k_e_t_ _c_a_t_e_g_o_r_y_,_v_e_h_i_c_l_e_ _s_i_z_e_,_v_e_h_i_c_l_e_ _s_t_y_l_e_,_h_i_g_h_w_a_y_ _m_p_g_,_c_i_t_y_ _m_p_g_,_p_o_p_u_l_a_r_i_t_y_,_m_s_r_p_
0,_b_m_w_,_1_ _s_e_r_i_e_s_ _m_,2011,_p_r_e_m_i_u_m_ _u_n_l_e_a_d_e_d_ _(_r_e_q_u_i...,335.0,6.0,_m_a_n_u_a_l_,_r_e_a_r_ _w_h_e_e_l_ _d_r_i_v_e_,2.0,"_f_a_c_t_o_r_y_ _t_u_n_e_r_,_l_u_x_u_r_y_,_h_i...",_c_o_m_p_a_c_t_,_c_o_u_p_e_,26,19,3916,46135
1,_b_m_w_,_1_ _s_e_r_i_e_s_,2011,_p_r_e_m_i_u_m_ _u_n_l_e_a_d_e_d_ _(_r_e_q_u_i...,300.0,6.0,_m_a_n_u_a_l_,_r_e_a_r_ _w_h_e_e_l_ _d_r_i_v_e_,2.0,"_l_u_x_u_r_y_,_p_e_r_f_o_r_m_a_n_c_e_",_c_o_m_p_a_c_t_,_c_o_n_v_e_r_t_i_b_l_e_,28,19,3916,40650
2,_b_m_w_,_1_ _s_e_r_i_e_s_,2011,_p_r_e_m_i_u_m_ _u_n_l_e_a_d_e_d_ _(_r_e_q_u_i...,300.0,6.0,_m_a_n_u_a_l_,_r_e_a_r_ _w_h_e_e_l_ _d_r_i_v_e_,2.0,"_l_u_x_u_r_y_,_h_i_g_h_-_p_e_r_f_o_r_m_a_n_c_e_",_c_o_m_p_a_c_t_,_c_o_u_p_e_,28,20,3916,36350
3,_b_m_w_,_1_ _s_e_r_i_e_s_,2011,_p_r_e_m_i_u_m_ _u_n_l_e_a_d_e_d_ _(_r_e_q_u_i...,230.0,6.0,_m_a_n_u_a_l_,_r_e_a_r_ _w_h_e_e_l_ _d_r_i_v_e_,2.0,"_l_u_x_u_r_y_,_p_e_r_f_o_r_m_a_n_c_e_",_c_o_m_p_a_c_t_,_c_o_u_p_e_,28,18,3916,29450
4,_b_m_w_,_1_ _s_e_r_i_e_s_,2011,_p_r_e_m_i_u_m_ _u_n_l_e_a_d_e_d_ _(_r_e_q_u_i...,230.0,6.0,_m_a_n_u_a_l_,_r_e_a_r_ _w_h_e_e_l_ _d_r_i_v_e_,2.0,_l_u_x_u_r_y_,_c_o_m_p_a_c_t_,_c_o_n_v_e_r_t_i_b_l_e_,28,18,3916,34500

DATA INTERPRETATION AND UNILATERAL ANALYSIS

In [18]:
df.info# Returns the information about the dataframe; data types, columns,
# null counts, etc.

<bound method DataFrame.info of           Make       Model  Year                Engine Fuel Type  Engine HP  \
0          BMW  1 Series M  2011     premium unleaded (required)      335.0
1          BMW    1 Series  2011     premium unleaded (required)      300.0
2          BMW    1 Series  2011     premium unleaded (required)      300.0
3          BMW    1 Series  2011     premium unleaded (required)      230.0
4          BMW    1 Series  2011     premium unleaded (required)      230.0
...        ...         ...   ...                             ...        ...
11909    Acura         ZDX  2012     premium unleaded (required)      300.0
11910    Acura         ZDX  2012     premium unleaded (required)      300.0
11911    Acura         ZDX  2012     premium unleaded (required)      300.0
11912    Acura         ZDX  2013  premium unleaded (recommended)      300.0
11913  Lincoln      Zephyr  2006                regular unleaded      221.0

       Engine Cylinders Transmission Type      Driven_Wheels  Number of Doors  \
0                   6.0            MANUAL   rear wheel drive              2.0
1                   6.0            MANUAL   rear wheel drive              2.0
2                   6.0            MANUAL   rear wheel drive              2.0
3                   6.0            MANUAL   rear wheel drive              2.0
4                   6.0            MANUAL   rear wheel drive              2.0
...                 ...               ...                ...              ...
11909               6.0         AUTOMATIC    all wheel drive              4.0
11910               6.0         AUTOMATIC    all wheel drive              4.0
11911               6.0         AUTOMATIC    all wheel drive              4.0
11912               6.0         AUTOMATIC    all wheel drive              4.0
11913               6.0         AUTOMATIC  front wheel drive              4.0

                             Market Category Vehicle Size  Vehicle Style  \
0      Factory Tuner,Luxury,High-Performance      Compact          Coupe
1                         Luxury,Performance      Compact    Convertible
2                    Luxury,High-Performance      Compact          Coupe
3                         Luxury,Performance      Compact          Coupe
4                                     Luxury      Compact    Convertible
...                                      ...          ...            ...
11909             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11910             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11911             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11912             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11913                                 Luxury      Midsize          Sedan

       highway MPG  city mpg  Popularity   MSRP
0               26        19        3916  46135
1               28        19        3916  40650
2               28        20        3916  36350
3               28        18        3916  29450
4               28        18        3916  34500
...            ...       ...         ...    ...
11909           23        16         204  46120
11910           23        16         204  56670
11911           23        16         204  50620
11912           23        16         204  50920
11913           26        17          61  28995

[11914 rows x 16 columns]>

In [19]:
df.Model[df.Make == 'Audi'].nunique()# This generates count of unique values of models for a particular make; runs a comparison of all the models and only returns the number of make corresponding to Audi. Note "n" before unique.

34

In [25]:
df.Make.value_counts().sort_values(ascending = False) # Returns the number of 
#instances each string appears in descending order.

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
Alfa Romeo          5
McLaren             5
Spyker              3
Genesis             3
Bugatti             3
Name: Make, dtype: int64

In [29]:
df.Make.value_counts().sort_values()# Returns the number of 
# instances each string appears in ascending order. Ascending is default setting

Bugatti             3
Genesis             3
Spyker              3
McLaren             5
Alfa Romeo          5
Maybach            16
HUMMER             17
Tesla              18
Lotus              29
Rolls-Royce        31
Lamborghini        52
Maserati           58
Scion              60
FIAT               62
Ferrari            69
Bentley            74
Plymouth           82
Aston Martin       93
Saab              111
Porsche           136
Land Rover        143
Oldsmobile        150
Lincoln           164
Pontiac           186
Chrysler          187
Buick             196
Lexus             202
Mitsubishi        213
Kia               231
Acura             252
Subaru            256
Volvo             281
Hyundai           303
Audi              328
Infiniti          330
BMW               334
Suzuki            351
Mercedes-Benz     353
Cadillac          397
Mazda             423
Honda             449
GMC               515
Nissan            558
Dodge             626
Toyota            746
Volkswagen        809
Ford              881
Chevrolet        1123
Name: Make, dtype: int64

In [31]:
df.Model[df.Make == 'Audi'].unique() # This generates an array of the unique
# models corresponding to Audi.

array(['100', '200', '80', '90', 'A3', 'A4 allroad', 'A4', 'A5', 'A6',
       'A7', 'A8', 'allroad quattro', 'allroad', 'Cabriolet', 'Coupe',
       'Q3', 'Q5', 'Q7', 'R8', 'RS 4', 'RS 5', 'RS 6', 'RS 7', 'S3', 'S4',
       'S5', 'S6', 'S7', 'S8', 'SQ5', 'TT RS', 'TT', 'TTS', 'V8'],
      dtype=object)

In [32]:
nulls = df.isnull().sum() # Save the variable of the number of null values in
# each column. This will not generate any output. We generated a query and
# saved it to a variable. The sum returns the total count of null values for
# each column.

In [33]:
nulls[nulls > 0].count() # The count will return how many values have condition
# more than zero; the condition being how many null values there are that are 
# greater than zero.

5

In [34]:
nulls[nulls<0].count()# The count will return how many values have condition
#less than zero; the condition being how many null values there are that are 
# less than zero.

0

In [35]:
df["Engine Cylinders"].median() # Generates the median value in the for the
# column "Engine Cylinders" in the data frame.

6.0

In [36]:
df["Engine Cylinders"].mode() # Generates the most frequent value for the
# "Engine Cylinders" column.

0    4.0
dtype: float64

In [37]:
df["Engine Cylinders"].fillna(df["Engine Cylinders"].mode(), inplace= True)
# Imputes the most frequent value, into where the missing values are present.

In [38]:
df["Engine Cylinders"].median() # Recalculate the median value; unchanged.

6.0

In [39]:
df["Engine Cylinders"].mode()# Recalculate the mode value; unchanged.

0    4.0
dtype: float64

In [40]:
Lotus = df[df["Make"] == "Lotus"] # We set a variable, Lotus to select all the
# Lotus cars from the dataset.

In [41]:
Lotus.head() # Displayed the first five rows of the dataset.

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
3912,Lotus,Elise,2009,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,43995
3913,Lotus,Elise,2009,premium unleaded (required),218.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,26,20,613,54990
3914,Lotus,Elise,2009,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,47250
3915,Lotus,Elise,2010,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,47250
3916,Lotus,Elise,2010,premium unleaded (required),218.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,26,20,613,54990

In [43]:
Lotus.tail()# Displayed the last five rows of the dataset.

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
4293,Lotus,Exige,2009,premium unleaded (recommended),240.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Coupe,26,20,613,65690
4294,Lotus,Exige,2010,premium unleaded (recommended),240.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Coupe,26,20,613,65690
4295,Lotus,Exige,2011,premium unleaded (recommended),240.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Coupe,26,20,613,65690
4296,Lotus,Exige,2011,premium unleaded (recommended),257.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Coupe,26,20,613,70750
4297,Lotus,Exige,2011,premium unleaded (recommended),257.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Coupe,26,20,613,74950

In [44]:
Lotus.describe()# Displayed the summary of the dataset.

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
count,29.000000,29.000000,29.000000,29.0,29.000000,29.000000,29.0,29.000000
mean,2010.827586,275.965517,5.241379,2.0,26.551724,18.758621,613.0,69188.275862
std,3.485367,64.131830,1.353703,0.0,3.822735,2.149006,0.0,14199.515666
min,2002.000000,189.000000,4.000000,2.0,21.000000,14.000000,613.0,43995.000000
25%,2009.000000,218.000000,4.000000,2.0,26.000000,18.000000,613.0,57950.000000
50%,2011.000000,276.000000,6.000000,2.0,26.000000,20.000000,613.0,68300.000000
75%,2013.000000,345.000000,6.000000,2.0,26.000000,20.000000,613.0,78600.000000
max,2017.000000,400.000000,8.000000,2.0,39.000000,21.000000,613.0,93225.000000

In [47]:
Engine_Columns = Lotus[["Engine HP","Engine Cylinders"]] # Selected the columns
# Engine HP and Engine Cylinders.
Engine_Columns.head() # Display the first five rows.

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3914      189.0               4.0
3915      189.0               4.0
3916      218.0               4.0

In [48]:
X = Engine_Columns.drop_duplicates(inplace = True) # Set X to equal the Engine 
# columns where we dropped the dupicates.

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [49]:
X = Engine_Columns.values # Getting the values from the Engine_Columns as an
# array
X # Display X

array([[189.,   4.],
       [218.,   4.],
       [217.,   4.],
       [350.,   8.],
       [400.,   6.],
       [276.,   6.],
       [345.,   6.],
       [257.,   4.],
       [240.,   4.]])

In [50]:
XTX = X.T.dot(X) # Dot product for X and X transposed using linear algebra
# library.

XTX # Display XTX

array([[7.31684e+05, 1.34100e+04],
       [1.34100e+04, 2.52000e+02]])

In [51]:
XTX_inverted = np.linalg.inv(XTX) # Invert XTX using a linear algebra library.

XTX_inverted # Display XTX_inverted

array([[ 5.53084235e-05, -2.94319825e-03],
       [-2.94319825e-03,  1.60588447e-01]])

In [52]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])
# Inputing an array.

y # Display y

array([1100,  800,  750,  850, 1300, 1000, 1000, 1300,  800])

In [53]:
w = XTX_inverted.dot(X.T).dot(y)
# Taking the dot product for X transposed, X transposed inverted, y.

w # Display w

array([  4.59494481, -63.56432501])

In [54]:
w[0].round(4) # The value of the first element of w rounded to four digits.

4.5949

In [55]:
w[1].round(2) # The value of the first element of w rounded to four digits.

-63.56

EXPLANATORY DATA ANALYSIS